<% provide(:adveli, "/") %>
<% provide(:about, "/#about") %>
<% provide(:features, "/#features") %>
<% provide(:media, "/media") %>
<% provide(:contact, "/#contact") %>
<% provide(:jobs, "/jobs") %>

<%= render 'layouts/nav' %>

<header style="min-height: 50%">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="jobHeading">Careers at Adveli</h1>
            <hr>
            <p>Adveli is the First and Only SaaS Cloud Computing software tool application in the world designed for K-12 institutions.</p>
        </div>
    </div>
</header>

<div class="positions-div">
  <div class="positions-row">
    <h2 class="positions-heading">Open Positions:</h2>
    <hr>
      <ul class="positions-list">
        <li class="positions-container">
          <div class="positions">

            <% @jobs.each do |job| %>
              <% if job == @jobs.last && job == @jobs.first %>
                <div class="position-item-first">
                  <h4 class="position-title"><td><%= link_to job.role, job %></td></h4>
                  <p class="position-location-last"><%= job.location %></p>
                </div>
              <% elsif job == @jobs.first %>
                <div class="position-item-first">
                  <h4 class="position-title"><td><%= link_to job.role, job %></td></h4>
                  <p class="position-location"><%= job.location %></p>
                </div>
              <% elsif job == @jobs.last %>
                <div class="position-item">
                  <h4 class="position-title"><td><%= link_to job.role, job %></td></h4>
                  <p class="position-location-last"><%= job.location %></p>
                </div>
              <% else %>
                <div class="position-item">
                  <h4 class="position-title"><td><%= link_to job.role, job %></td></h4>
                  <p class="position-location"><%= job.location %></p>
                </div>
              <% end%>

            <% end %>

          </div>
        </li>
      </ul>
  </div>
</div>

